<h2 class="mem-title">
  <%= mem.title %>
</h2>
<div class="mems-div">
  <div class="mems-inner-div">
    <% mem.photos.each do |photo| %>
      <div class="mem-photo-div">
        <%= link_to image_tag(photo.pic.url(:medium), class: "mems-pics"), mem %>
        <div class="photos-info-div">
           <p>
            <div class="fltlft">
              Likes
            </div>
            <%= photo.name %>
            <div class="fltrt">
              Dislikes
            </div>
           </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
