// Place all the styles related to the collages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$margin-top: 5px
$margin-sides: 5%
$margin-gutter: .5%
$border: 1px green solid

.collage
  clear: both
.position
  float: left
  height: 400px
  background-color: #000
#position_1
  width: 30%
  margin: $margin-top 0 0 $margin-sides
  border-right: $border
  box-sizing: border-box
#position_2
  width: 30%
  margin: $margin-top 0 0 0
#position_3
  width: 30%
  margin: $margin-top $margin-sides 0 0
  border-left: $border
  box-sizing: border-box
#position_4
  width: 29.5%
  margin: $margin-top $margin-gutter 0 $margin-sides
#position_5
  width: 30%
  margin: $margin-top 0 0 0
#position_6
  width: 29.5%
  margin: $margin-top $margin-sides 0 $margin-gutter
#position_7
  width: 30%
  margin: $margin-top 0 0 $margin-sides
  border-right: $border
  box-sizing: border-box
#position_8
  width: 30%
  margin: $margin-top $margin-gutter 0 0
#position_9
  width: 29.5%
  margin: $margin-top $margin-sides 0 0
#position_10
  width: 29.5%
  margin: $margin-top $margin-gutter 0 $margin-sides
#position_11
  width: 30%
  margin: $margin-top 0 0 0
  border-right: $border
  box-sizing: border-box
#position_12
  width: 30%
  margin: $margin-top $margin-sides 0 0
#position_13
  width: 29.5%
  margin: $margin-top $margin-gutter 0 $margin-sides
#position_14
  width: 30%
  margin: 0 0 0 0
  border-right: $border
  border-top: $border
  box-sizing: border-box
#position_15
  width: 30%
  margin: 0 $margin-sides 0 0
  border-top: $border
  box-sizing: border-box