// all html
html,body
  height: 100%
  margin: 0
  background-image: url("/images/splash-background.jpg")
  background-repeat: repeat-x
  background-size: auto 100%
footer
  margin: -25px 0px 0px 5px
  height: 25px
  clear: both
  color: #FFF
#wrap
  margin-bottom: -25px
  min-height: 100%
#main
  overflow: auto
  padding-bottom: 25px

// splash page
#signin-div, #welcome-splash
  background-color: #DFF2DC
  padding: 20px 20px 20px 20px
  border-radius: 5px
  box-shadow: 10px 10px 5px #888
  color: #000
  width: 225px
#signin-div
  margin: 50px 0px 25px 50px
#welcome-splash
  margin: 25px 0px 50px 50px
#request-submit
  border-radius: 7px
  background-color: #109101
  color: #FFF

// header css
header
  font-family: Impact
  background-color: #000
  margin: 0
  padding: 0
  color: #FFF
  padding: 10px 5px 10px 10px
  font-size: 20px
a.header-home-link:link,a.header-home-link:visited

a.header-home-link:hover

// header dropdown
#header-dropdown-div-outer
  position: relative
  float: right
#header-dropdown-div-inner
  display: none
  right: 0
  position: absolute
  width: 150px
  top: 15px
#header-dropdown-list
  list-style: none
a.header-dropdown-links:link,a.header-dropdown-links:visited
  background-color: #000
  display: block
  padding: 5px 10px 5px 10px
  color: #FFF
  text-decoration: none
  border-bottom: 1px solid green
a.header-dropdown-links:hover
  background-color: green
  color: #000

// headers
h1, h2
  font-family: Impact
  text-align: center
  line-height: 120%


//main div
#main
  padding: 20px 20px 20px 20px
//main menu
#main-menu
  height: inherit
  background-color: #000
  width: 150px
  float: left
  color: #FFF
a#main-menu-toggle:link,a#main-menu-toggle:visited
  color: #FFF
  text-decoration: none
  float: right
a#main-menu-toggle:hover

.main-menu-title
  color: green
  margin: 0 0 0 0
.main-menu-subtitle
  color: green
  margin: 0 0 0 0

#main-list
  list-style: none
  list-style-position: none
a.main-menu-links:link,a.main-menu-links:visited
  color: #FFF
  text-decoration: none
a.main-menu-links:hover

// flash
.flash
  font-family: arial
  text-align: center
  background-color:  #1BFA02
  color: #000
  width: 200px
  border-radius: 4px
  padding: 5px 10px 5px 10px
  margin: 5px auto 5px auto
#close-notice
  float: right
  font-family: arial
  cursor: pointer
#close-notice:hover
  color: #FF0000
  cursor: pointer

// forms
input[type=text],[type=email],[type=password],[type=text_area]
  width: 90%
  border-radius: 5px
  padding: 5px

// splash page
#request-title
  text-align: left
  margin-bottom: 7px
.photos-reappear
  position: absolute
  display: none
  z-index: 1
.photos-splash
  width: 300px
  z-index: 1
#splash-left
  float: left
#splash-right
  width: auto
  text-align: center
#splash-image
  position: relative