// all html
html,body
  height: 100%
  margin: 0
footer
  margin-top: -50px
  height: 50px
  clear: both
#wrap
  margin-bottom: -25px
  min-height: 100%
#main
  overflow: auto
  padding-bottom: 50px
#signin-div
  background-color: #000
  opacity: .8
  padding: 20px 20px 20px 20px
  border-radius: 5px
  box-shadow: 10px 10px 5px #888
  color: #FFF
  width: 200px
  margin: 50px auto 50px auto

// header css
header
  font-family: Impact
  background-color: #000
  margin: 0
  padding: 0
  color: #FFF
  padding: 10px 5px 10px 10px
  font-size: 20px
// header dropdown
#header-dropdown-div-outer
  position: relative
  float: right
#header-dropdown-div-inner
  display: none
  right: 0
  position: absolute
  width: 150px
  top: 15px
#header-dropdown-list
  list-style: none
a.header-dropdown-links:link,a.header-dropdown-links:visited
  background-color: #000
  display: block
  padding: 5px 10px 5px 10px
  color: #FFF
  text-decoration: none
  border-bottom: 1px solid green
a.header-dropdown-links:hover
  background-color: green
  color: #000

// headers
h1
  font-family: Impact
  text-align: center

// flash
.flash
  font-family: arial
  text-align: center
  background-color:  #1BFA02
  color: #000
  width: 200px
  border-radius: 4px
  padding: 5px 10px 5px 10px
  margin: 5px auto 5px auto
#close-notice
  float: right
  font-family: arial
  cursor: pointer
#close-notice:hover
  color: #FF0000
  cursor: pointer