<!DOCTYPE html>
<html>
<head>
  <title>Love</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrap">
    <header>

    </header>
    <div id="main">
      <%= yield %>
    </div>
  </div>
  <footer>
    Created with Love by Brothers Anthony and Philip Zullo
  </footer>
</body>
</html>
